<div class="rounded-2xl border border-[var(--color-spikers-grey-bg)] shadow-[var(--shadow-spikers-2)] w-full min-h-full h-full overflow-hidden">
  <div class="block w-full overflow-x-auto">
    <table class="w-full min-w-[400px] border-collapse text-[1.05rem]">
      <thead>
        <tr class="py-4 px-2.5">
          <th scope="col" class="font-normal text-left text-spikers-xs3  text-[var(--color-spikers-divider)] py-3 px-6">Asset</th>
          <th scope="col" class="font-normal text-left text-spikers-xs3  text-[var(--color-spikers-divider)] py-3 px-6">Contextual risk</th>
        </tr>
      </thead>
      <tbody>
        <tr><td colspan="2" class="p-0"><div class="border-b border-[var(--color-spikers-grey-bg)]"></div></td></tr>
        @for (row of paginatedData(); track row; let i = $index) {
          <tr class="align-top border-b border-[var(--color-spikers-grey-bg)] cursor-pointer hover:bg-gray-50 transition" [class.border-b-0]="i === paginatedData().length - 1" (click)="onRowClick(row)">
            <!-- Asset column -->
            <td class="py-4 px-2.5">
              <div class="flex items-center gap-4">
                <div class="flex items-center justify-center w-10 h-10 rounded-full bg-[var(--color-spikers-blue-bg)]">
                  <img ngSrc="{{ row.icon }}" width="24" height="24" alt="Asset Icon" />
                </div>
                <div class="flex flex-col">
                  <span class="text-spikers-xs3 font-semibold text-[var(--color-spikers-soft-grey)] fw-spikers-semibold font-semibold">{{ row.assetName }}</span>
                  <span class="text-spikers-xxxs fw-spikers-medium">{{ row.ip }}</span>
                </div>
              </div>
            </td>
            <!-- Contextual risk column -->
            <td class="py-4 px-6.5">
              <span
                class=" rounded-full py-1 px-4 gap-2.5 text-spikers-sm2 contextual-risk-pill font-bold"
                [ngStyle]="{
                  'background-color': riskBgColor(row.contextualRisk),
                  color: riskTextColor(row.contextualRisk)
                }"
              >
                {{ row.contextualRisk }}
              </span>
            </td>
          </tr>
        }
      </tbody>
      <tfoot>
        <tr><td colspan="2" class="p-0"><div class="border-t border-[var(--color-spikers-grey-bg)]"></div></td></tr>
        <tr >
          <td colspan="2" class="py-4 px-2.5" >
            <div class="flex items-center justify-center gap-2.5">
              <button (click)="prevPage()" [disabled]="page() === 1" class="disabled:opacity-50 opacity-100 cursor-pointer">
                <img ngSrc="/icons/chevron_left.svg" width="6" height="10" alt="Previous" />
              </button>
              <span class="font-normal text-spikers-xs2 text-[var(--color-spikers-soft-grey)]">
                Showing{{ (page() - 1) * pageSize + 1 }}-{{ min(page() * pageSize, data().length) }} of {{ data().length }}
              </span>
              <button (click)="nextPage()" [disabled]="page() === totalPages()" class="disabled:opacity-50 opacity-100 cursor-pointer">
                <img ngSrc="/icons/chevron_right.svg" width="6" height="10" alt="Next" />
              </button>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<p-drawer  [(visible)]="visible" position="right">
  <ng-container *ngIf="selectedRow">
    <div class="p-4">
      <div class="flex items-center gap-4 mb-4">
        <div class="flex items-center justify-center w-10 h-10 rounded-full bg-[var(--color-spikers-blue-bg)]">
          <img ngSrc="{{ selectedRow.icon }}" width="24" height="24" alt="Asset Icon" />
        </div>
        <div class="flex flex-col">
          <span class="text-spikers-xs3 font-semibold text-[var(--color-spikers-soft-grey)]">{{ selectedRow.assetName }}</span>
          <span class="text-spikers-xxxs">{{ selectedRow.ip }}</span>
        </div>
      </div>
      <div class="mb-2">
        <span class="font-bold">Contextual Risk: </span>
        <span class="rounded-full py-1 px-4 gap-2.5 text-spikers-sm2 contextual-risk-pill font-bold"
          [ngStyle]="{ 'background-color': riskBgColor(selectedRow.contextualRisk), color: riskTextColor(selectedRow.contextualRisk) }">
          {{ selectedRow.contextualRisk }}
        </span>
      </div>
    </div>
  </ng-container>
</p-drawer>
