::ng-deep .p-overlaypanel {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
::ng-deep .p-overlaypanel-content {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
