<div class="rounded-[var(--radius-spikers-xxl)] flex flex-col gap-[1.25rem] p-[0.625rem] pr-[1rem] pb-[0.625rem] pl-[1rem]">
  <!-- Row 1 -->
  <div class="flex flex-row items-center gap-[1.25rem]">
    <div class="relative flex items-center justify-center w-[1.855rem] h-[1.855rem] rounded-full bg-[var(--color-spikers-blue-bg)]">
      <img ngSrc="/icons/server.svg" width="19.69" height="19.69" alt="Server" />
      <div class="absolute -top-1 -right-1 w-[0.901rem] h-[0.895rem] rounded-full bg-[var(--color-spikers-red)] flex items-center justify-center">
        <img ngSrc="/icons/shield-critical.svg" width="9.61" height="12.02" alt="Critical Shield" />
      </div>
    </div>
    <div class="flex flex-col justify-between h-[1.855rem]">
      <span class="text-spikers-xs3 font-semibold text-[var(--color-gray-soft-700)] flex items-center">Loremipsumdolorsit</span>
      <span class="font-normal text-spikers-xxxs text-[var(--color-spikers-subtitle)]">192.168.1.1</span>
    </div>
  </div>
  <!-- Row 2 -->
  <div class="flex flex-row items-center gap-2">
    <img ngSrc="/icons/receipt-text.svg" width="15" height="15" alt="Receipt" />
    <span class="text-spikers-xs3 font-semibold text-[var(--color-gray-soft-700)] flex items-center">Lorem</span>
    <span class="text-spikers-xs3 font-semibold text-[var(--color-spikers-yellow-600)] flex items-center">{{altText}}</span>
  </div>
  <!-- Row 3 -->
  <div class="flex flex-row items-center gap-2">
    <span class="text-spikers-xs3 font-semibold text-[var(--color-gray-soft-700)] flex items-center">Loremipsum</span>
    <span class="inline-block rounded-[var(--radius-spikers-sm)] bg-[var(--color-spikers-blue-50)] text-[var(--color-spikers-blue-700)] px-4 py-1 font-semibold text-spikers-xs2">lorem 1234,5678</span>
  </div>
</div>