@if (technique) {
<div class="flex flex-col gap-2 px-4.5 py-[13px] rounded-[var(--radius-spikers-lg)] shadow-[var(--shadow-spikers-1)]">
  <h1 class="text-spikers-sm2 font-semibold text-[var(--color-spikers-black-soft]">{{ technique.cardTitle }}</h1>

  <button
    type="button"
    class="bg-[var(--color-spikers-grey-50)] flex flex-col sm:flex-row gap-4 items-start py-1.5 px-4 rounded cursor-pointer select-none w-full"
    (click)="toggleDescription()"
    [attr.aria-expanded]="descriptionOpen()"
    [attr.aria-controls]="'desc-' + technique.cardTitle"
  >
    <div class="flex items-center gap-2 mb-2 w-full sm:w-1/2">
      @if (technique.icon) {
        <div class="flex items-center justify-center w-[53px] md:h-[53px] h-[53px] rounded-full bg-[var(--color-spikers-blue-bg)]">
          <img ngSrc="/icons/server.svg" width="32" height="32" alt="Server icon" class="shrink-0" />
        </div>
      }
      <div>
        <div class="text-spikers-xs2 font-semibold text-[var(--color-spikers-title)]">{{ technique.title }}</div>
        <div class="text-spikers-xs3 text-[var(--color-spikers-subtitle)]">{{ technique.subtitle }}</div>
      </div>
    </div>
    <div class="w-px bg-[var(--color-spikers-divider)] mx-1 self-stretch hidden sm:block"></div>
    <div class="text-spikers-xs3 font-regular text-[var(--color-spikers-title)] mb-1 flex-1 w-full sm:w-auto sm:mb-0">
      {{ technique.summary }}
    </div>
  </button>
  <div [id]="'desc-' + technique.cardTitle" [class]="'overflow-hidden transition-all duration-300 ' + (descriptionOpen() ? 'max-h-40 mt-2' : 'max-h-0')">
    <div class="text-spikers-sm2 text-[var(--color-spikers-soft-grey)]">{{ technique.description }}</div>
  </div>
</div>
}
